<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Ytube</title>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">

  <!-- Icons -->
  <link href="/assets/css/nucleo-icons.css" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  <!-- Theme CSS -->
  <link type="text/css" href="/assets/css/blk-design-system.min.css" rel="stylesheet">
</head>
<body>
  <div id="app"></div>

    <!-- Core -->
  <script src="/assets/js/core/jquery.min.js"></script>
  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/core/bootstrap.min.js"></script>

  <!-- Theme JS -->
  <script src="/assets/js/blk-design-system.min.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>
